@tailwind base;
@tailwind components;
@tailwind utilities;
/* html,
body {
  width: 100%;
} */

.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  z-index: 500;
}

.loader {
  width: 100%;
  height: 15px;
  text-align: center;
}

.dots {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  display: inline-block;
}

.dots:first-child:before {
  animation-delay: 0ms;
}

.dots:first-child:after {
  animation-delay: 0ms;
}

.dots:last-child:before {
  animation-delay: 200ms;
}

.dots:last-child:after {
  animation-delay: 200ms;
}

.dots:before {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: blue;
  animation-name: dotHover;
  animation-duration: 900ms;
  animation-timing-function: cubic-bezier(0.82, 0, 0.26, 1);
  animation-iteration-count: infinite;
  animation-delay: 100ms;
  background: white;
  border-radius: 100%;
  display: flex;
}

.dot:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: black;
  box-shadow: 0px 0px 1px black;
  opacity: 0.2;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -2px;
  border-radius: 100%;
  animation-name: dotShadow;
  animation-duration: 900ms;
  animation-timing-function: cubic-bezier(0.82, 0, 0.26, 1);
  animation-iteration-count: infinite;
  animation-delay: 100ms;
  display: flex;
}

.loader .dots.showDot:after,
.loader .dots.showDot:before {
  display: block;
}

.logout-div {
  font-size: 14px;
  font-weight: 500;
  z-index: 100;
  position: absolute;
  right: 80px;
  top: 50px;
  color: #fff;
  background-color: #0c253f !important;
  box-shadow: -6px 8px 50px -13px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: -6px 8px 50px -13px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -6px 8px 50px -13px rgba(0, 0, 0, 0.19);
}

@keyframes dotShadow {
  0% {
    transform: scaleX(1);
  }

  50% {
    opacity: 0;
    transform: scaleX(0.6);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes dotHover {
  0% {
    top: 0px;
  }

  50% {
    top: -50px;
    transform: scale(1.1);
  }

  100% {
    top: 0;
  }
}
